
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, "Segoe UI", BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  /* Palette */
  --palette1: #DCDCDD;
  --palette2: #C5C3C6;
  --palette3: #46494C;
  --palette4: #4C5C68;
  --palette5: #1985A1;
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: content-box;
}

/* Various generic HTML */

h1 {
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--sans-font);
  font-size: 16pt;
}

h2 {
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--sans-font);
  font-size: 14pt;
}

h3 {
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--sans-font);
  font-size: 12pt;
}

p,ul,ol {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
}

/* HTMX component GTab */

.go-nest-PagesTabbedButton {
  padding: 0;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.go-nest-PagesTabbedButton:hover,
.go-nest-PagesTabbedButton:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.go-nest-PagesTabbedButton:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.go-nest-PagesTabbedButton:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.go-nest-PagesTabbedButtonSelected {
  padding: 0;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.go-nest-PagesTabbedButtonSelected:hover,
.go-nest-PagesTabbedButtonSelected:focus {
  background-color: #07c;
}

.go-nest-PagesTabbedButtonSelected:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.go-nest-PagesTabbedButtonSelected:active {
  background-color: #0064bd;
  box-shadow: none;
}

.go-nest-TabsButton {
  padding: 5px 15px 5px 15px;
}

.go-nest-TabsButtonSelected {
  padding: 5px 15px 5px 15px;
  background-color: #000000;
  color: #ffffff;
}

.go-nest-GTabsButtonSelected {
  padding: 5px 15px 5px 15px;
  background-color: black;
  color: white;
}

select.htmx-request {
  background-color: lightgray;
  color: gray;
}

/* HTMX component Form */

.go-nest-Form {
  background-color: white;
}

@keyframes GFormFadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.go-nest-GFormError {
  opacity: 0;
  animation: GFormFadeIn 1.0s ease forwards; /* Apply the fadeIn animation */
}

/* HTMX component Table */

.go-nest-Table {
  border-collapse: separate; /* Ensure borders can be separate */
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1px;
  margin-bottom: 1px;
  border-spacing: 1px 0; /* Maintain horizontal spacing but no vertical spacing */
}

.go-nest-Table th,
.go-nest-Table td {
  padding: 4px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #fff;
}

.go-nest-Table th:last-child,
.go-nest-Table td:last-child {
  border-right: none; /* Remove right border for the last cell in the row */
}

.go-nest-Table th {
  background-color: white;
  color: #696969;
  font-weight: bold;
}

.go-nest-Table tr:nth-child(odd) {
  background-color: var(--palette1);
}

.go-nest-Table tr:nth-child(even) {
  background-color: white;
}

.go-nest-Table tr:hover {
  background-color: var(--palette2);
}

.go-nest-Table tr.go-nest-GTableRowSelected {
  background-color: #b6b7e9;
  color: black;
}

.go-nest-Table tfoot {
  color: black; 
  background-color: white;
}

.go-nest-Table tr.go-nest-GTableRowFooter {
  background-color: white; 
  color: #696969;
}

p.go-nest-GTableFooter {
  font-size: 7pt;
}



/* Fading animation */
@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}



/* CSS */
.Button {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.Button:active {
  border-bottom-color: #a2a6ac;
}

.Button:active:hover {
  border-bottom-color: #a2a6ac;
}

.Button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.Button:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}


