
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, "Segoe UI", BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: content-box;
}

h1 {
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--sans-font);
  font-size: 16pt;
}

h2 {
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--sans-font);
  font-size: 14pt;
}

p,ul,ol {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0;
  padding-bottom: 0;
}